 @media(max-width:1280px) {
     body {


         section {

             header {
                 padding: 24px 22px 0 22px;
             }

             footer {
                 .footer_div {
                     padding: 256px 39px;
                 }
             }
         }
     }
 }

 @media(max-width:1210px) {
     body {


         section {

             .container {
                 flex-direction: column;
                 align-items: center;
                 padding-top: 160px;

                 .container_info {
                     padding-top: 48px;
                     width: 100%;
                 }
             }

             .commintary {
                 padding: 170px 48px 0px 48px;
                 justify-content: center;
                 gap: 24px;
             }

         }
     }
 }

 @media (max-width:1000px) {
     section {
         footer {
             padding-bottom: 72px;

             .footer_div {
                 .footer_info {
                     width: 100%;
                     flex-wrap: wrap;
                     justify-content: center;
                     gap: 24px;

                     padding-top: 35px;


                     .info_locatsiya {
                         max-width: 300px;

                         p {
                             color: #FFF;
                             font-family: Open Sans;
                             font-size: 16px;
                             font-style: normal;
                             font-weight: 400;
                             line-height: 24px;
                         }
                     }

                     .info_contact_number {
                         padding-bottom: 0;

                     }

                     .info_about {
                         row-gap: 16px;

                     }

                     .info_icon {
                         margin: 0 auto;

                     }
                 }
             }
         }
     }

 }

 @media(max-width:780px) {
     body {
         section {
             .registratsiya_section {
                 .registratsiya {
                     .input_and_button {
                         flex-direction: column;
                         row-gap: 24px;
                     }
                 }
             }

             .wrapper {
                 .card {
                     svg {
                         width: 80px;
                         height: 80px;
                     }

                     h4 {
                         font-size: 18px;
                         line-height: 24px;
                         padding-top: 24px;
                     }

                     p {
                         font-size: 14px;
                         line-height: 21px;
                     }

                 }
             }

         }
     }
 }

 @media(max-width:750px) {
     body {
         section {
             .now {
                 width: 100%;

                 //   padding: 53px 36px;
                 h1 {
                     font-size: 24px;
                     line-height: 36px;
                     padding: 0 36px;
                     padding-top: 33px;


                 }

                 p {
                     font-size: 14px;
                     font-weight: 400;
                     line-height: 21px;
                     padding: 15px 36px 32px;


                 }

                 button {
                     font-size: 14px;
                     padding: 16px 81px;
                 }


                 .bacround_media {
                     display: block;
                 }

                 .bacround_media_one {
                     display: none;
                 }
             }

             .wrapper {
                 .card {
                     svg {
                         width: 80px;
                         height: 80px;
                     }

                     h4 {
                         font-size: 18px;
                         line-height: 24px;
                         padding-top: 24px;
                     }

                     p {
                         font-size: 14px;
                         line-height: 21px;
                     }

                 }
             }

         }
     }
 }

 @media (max-width:650px) {
     body {


         section {

             .container {
                 flex-direction: column;
                 align-items: center;
                 padding-top: 160px;


                 .container_img {
                     width: 304px;
                     height: 230px;
                 }

                 .container_info {
                     h2 {
                         padding-left: 28px;
                         padding-right: 28px;
                         font-size: 18px;
                         line-height: 24px;
                     }

                     p {
                         padding-left: 28px;
                         padding-right: 28px;
                         font-size: 14px;
                         line-height: 21px;
                     }

                     .Securely {
                         font-size: 14px;
                         line-height: 21px;
                         padding-left: 28px;
                         padding-right: 28px;


                     }

                     .see_how {
                         margin-left: 28px;
                         width: 130px;

                         svg {
                             width: 12px;
                             height: 12px;
                         }

                         .see_p {
                             color: #62E0D9;
                             font-size: 12px;
                         }
                     }
                 }
             }
         }
     }


 }

 @media(max-width:570px) {
     body {


         section {

             header {
                 padding: 24px 22px 0 22px;

                 .header_logo {

                     svg {
                         width: 80px;
                         height: 24px;

                     }
                 }

                 ul {
                     column-gap: 24px;

                     li {
                         font-size: 12px;
                     }

                     li:active {
                         font-size: 12px;
                         text-decoration-line: underline;
                     }
                 }


             }

             .commintary {
                 .commintary_card_one {
                     .backround_img {
                         display: none;

                     }

                     .backround_img2 {
                         position: absolute;
                         transform: translate(-27px, -147px);
                         z-index: -1;
                     }

                     .backround_img2 {
                         display: block;

                     }

                     p {
                         font-size: 10px;
                         line-height: 18px;

                     }

                     .commintary_user {
                         padding-top: 17px;
                     }
                 }

                 .commintary_card_two {
                     p {
                         font-size: 10px;
                         line-height: 18px;

                     }

                     .commintary_user {
                         padding-top: 17px;
                     }

                 }
             }

             .registratsiya_section {
                 .registratsiya {
                     padding-top: 40px;
                     transform: translateY(160px);

                     h3 {
                         font-size: 18px;
                         line-height: 24px;
                     }

                     p {
                         font-size: 14px;
                         line-height: 21px;

                     }

                     .input_and_button {
                         flex-direction: column;
                         row-gap: 24px;

                         button {
                             padding: 16px 73px;
                         }

                         input {
                             padding: 17px 100px 17px 30px;
                         }
                     }
                 }
             }

         }
     }
 }

 @media (max-width:445px) {

     section {
         footer {
             padding-bottom: 252px;

             .footer_div {
                 .footer_info {
                     width: 100%;
                     flex-wrap: wrap;
                     //   flex-direction: column;
                     justify-content: center;
                     gap: 24px;

                     padding-top: 35px;


                     .info_locatsiya {
                         max-width: 300px;

                         p {
                             width: 100%;
                             color: #FFF;
                             font-family: 'Open Sans';
                             font-size: 16px;
                             font-style: normal;
                             font-weight: 400;
                             line-height: 24px;
                         }
                     }

                     .info_contact_number {
                         padding-top: 16px;
                         padding-bottom: 0;
                         width: 100%;

                     }

                     .info_about {
                         row-gap: 16px;
                     }

                     .info_icon {
                         margin: 0 auto;

                     }
                 }
             }
         }
     }

 }

 @media (max-width:380px) {
     section {
         footer {
             padding-bottom: 302px;

             .footer_div {
                 .footer_info {
                     width: 100%;
                     flex-wrap: wrap;
                     justify-content: center;

                     padding-top: 35px;


                     .info_locatsiya {
                         max-width: 300px;

                         p {
                             width: 100%;
                             color: #FFF;
                             font-family: Open Sans;
                             font-size: 16px;
                             font-style: normal;
                             font-weight: 400;
                             line-height: 24px;
                         }
                     }

                     .info_contact_number {
                         padding-top: 16px;
                         padding-bottom: 0;
                         width: 100%;

                     }

                     .info_about {
                         row-gap: 16px;
                         width: 40%;
                         text-align: center;
                         padding-top: 60.5px;


                     }

                     .info_contact_us {
                         width: 50%;
                         text-align: center;
                         padding-top: 60.5px;

                     }

                     .info_icon {
                         margin: 0 auto;
                         padding-top: 60.5px;


                     }
                 }
             }
         }

         .commintary {
             .commintary_card_one {
                 .backround_img2 {
                     display: none;
                 }
             }

         }
     }

 }