  @import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;700&display=swap');
*{
    outline: 1px solid blue;
}
  body {
      background: #1B2330;
      section {
          header {
              margin: 0 auto;
              display: flex;
              justify-content: space-between;
              align-items: center;
              max-width: 1280px;
              padding-top: 73px;

              ul {
                  display: flex;
                  column-gap: 57px;

                  li {
                      color: #FFF;
                      font-size: 16px;
                      font-weight: 400;
                      color: #FFF;
                      font-family: Raleway;
                  }

                  li:active {
                      color: #FFF;
                      font-size: 16px;
                      font-weight: 700;
                      text-decoration-line: underline;
                  }

              }


          }

          .now {
              max-width: 1280px;
              margin: 0 auto;
              display: flex;
              padding-top: 75px;
              flex-direction: column;
              align-items: center;

              .bacround_media_one {
                  width: 720px;
                  height: 534px;
              }

              .bacround_media {
                  display: none;
              }

              h1 {
                  color: #FFF;
                  text-align: center;
                  font-size: 40px;
                  font-weight: 700;
                  line-height: 60px;
                  max-width: 734px;
                  padding-top: 36px;
                  font-family: Raleway;

              }

              p {
                  max-width: 589px;
                  color: #FFF;
                  text-align: center;
                  font-family: "Open Sans";
                  font-size: 20px;
                  font-style: normal;
                  font-weight: 400;
                  line-height: 30px;
                  padding-top: 32px;
                  padding-bottom: 32px;
              }

              button {
                  filter: drop-shadow(2px 3px 6px rgba(0, 0, 0, 0.16));
                  padding: 19px 95px;
                  border-radius: 50px;
                  border: none;
                  background: #34A0CD;
                  color: #FFF;
                  font-size: 16px;
                  font-weight: 700;
                  cursor: pointer;

              }

              button:active {
                  background-color: #8ADAE3;
              }
          }

          .wrapper {
              max-width: 1280px;
              margin: 0 auto;
              padding-top: 158px;
              display: flex;
              column-gap: 147px;
              justify-content: center;
              flex-wrap: wrap;
              row-gap: 78px;
              font-family: Raleway;



              .card {
                  max-width: 349px;
                  flex-shrink: 0;
                  display: flex;
                  flex-direction: column;
                  align-items: center;


                  h4 {
                      color: #FFF;
                      text-align: center;
                      font-size: 20px;
                      font-weight: 700;
                      padding-top: 16px;
                      max-width: 263px;
                      font-family: Raleway;

                  }

                  p {
                      max-width: 349px;
                      color: #FFF;
                      text-align: center;
                      font-family: "Open Sans";
                      font-size: 14px;
                      font-weight: 400;
                      line-height: 21px;
                      padding-top: 8px;
                  }
              }

          }

          .container {
              max-width: 1280px;
              width: 100%;
              margin: 0 auto;
              padding-top: 137px;
              display: flex;
              //   column-gap: 57px;
              //   flex-wrap: wrap;
              justify-content: space-between;

              img {
                  width: 614.755px;
                  height: 463.633px;

              }

              .container_info {
                  padding-top: 114px;
                  max-width: 563px;

                  h2 {
                      color: #FFF;
                      font-family: Raleway;
                      font-size: 40px;
                      font-weight: 700;
                      line-height: 50px;
                      max-width: 480px;
                  }

                  p {
                      color: #FFF;
                      font-family: "Open Sans";
                      font-size: 16px;
                      font-weight: 400;
                      line-height: 24px;
                      padding-top: 19px;
                      max-width: 563px;
                      padding-bottom: 16px;
                  }

                  .Securely {
                      color: #FFF;
                      font-family: "Open Sans";
                      font-size: 16px;
                      font-weight: 400;
                      line-height: 24px;
                      max-width: 563px;


                  }

                  .see_how {
                      max-width: 166px;
                      display: flex;
                      align-items: center;
                      padding-bottom: 5px;
                      border-bottom: 1px solid #62E0D9;
                      column-gap: 8px;
                      cursor: pointer;
                      margin-top: 24px;


                      .see_p {
                          color: #62E0D9;
                          font-family: "Open Sans";
                          font-size: 16px;
                          font-weight: 400;

                      }

                      div {
                          width: 12px;
                          height: 12px;
                      }
                  }

                  .see_how:active {
                      border-bottom: 1px solid #fff;

                      .see_p {
                          color: #FFF;
                      }
                  }

              }
          }

          .commintary {
              max-width: 1175px;
              margin: 0 auto;
              padding-top: 120px;
              padding: 120px 60px 0px 45px;
              display: flex;
              justify-content: space-between;
              flex-wrap: wrap;

              .commintary_card_one {
                  position: relative;
                  border-radius: 3.933px;
                  background: #202A3C;
                  box-shadow: 5px 5px 8px 4px rgba(56, 56, 56, 0.10);
                  padding: 40px 24px 26px 26px;

                  .backround_img {
                      position: absolute;
                      transform: translate(-35px, -207px);
                      z-index: -1;
                  }

                  .backround_img {
                      display: none;

                  }

                  p {
                      max-width: 309.303px;
                      color: #FFF;
                      font-family: 'Open Sans';
                      font-size: 14px;
                      font-weight: 400;
                      line-height: 21px;
                      letter-spacing: 0.5px;

                  }

                  .commintary_user {
                      max-width: 133px;
                      display: flex;
                      padding-top: 24px;
                      column-gap: 8px;
                      align-items: center;

                      .commintary_user_foto {
                          width: 24px;
                          height: 24px;
                      }

                      .commintary_user_info {
                          width: 100px;

                          h5 {
                              color: #FFF;
                              font-family: 'Open Sans';
                              font-size: 10px;
                              font-weight: 700;
                              line-height: 12px;
                              letter-spacing: 0.5px;
                          }

                          p {
                              width: 100px;
                              color: #FFF;
                              font-family: 'Open Sans';
                              font-size: 7px;
                              font-weight: 400;
                              line-height: 10px;
                              letter-spacing: 0.5px;
                          }
                      }
                  }
              }

              .commintary_card_two {
                  border-radius: 3.933px;
                  background: #202A3C;
                  box-shadow: 5px 5px 8px 4px rgba(56, 56, 56, 0.10);
                  padding: 40px 24px 26px 26px;

                  p {
                      max-width: 309.303px;
                      color: #FFF;
                      font-family: 'Open Sans';
                      font-size: 14px;
                      font-weight: 400;
                      line-height: 21px;
                      letter-spacing: 0.5px;

                  }

                  .commintary_user {
                      max-width: 133px;
                      display: flex;
                      padding-top: 24px;
                      column-gap: 8px;
                      align-items: center;

                      .commintary_user_foto {
                          width: 24px;
                          height: 24px;
                      }

                      .commintary_user_info {
                          max-width: 100px;

                          h5 {
                              color: #FFF;
                              font-family: 'Open Sans';
                              font-size: 10px;
                              font-weight: 700;
                              line-height: 12px;
                              letter-spacing: 0.5px;
                          }

                          p {
                              max-width: 100px;
                              color: #FFF;
                              font-family: 'Open Sans';
                              font-size: 7px;
                              font-weight: 400;
                              line-height: 10px;
                              letter-spacing: 0.5px;
                          }
                      }
                  }
              }
          }

          .registratsiya_section {
              max-width: 1280px;
              height: 360px;
              margin: 0 auto;


              .registratsiya {
                  text-align: center;
                  max-width: 750px;
                  padding: 42px 77px;
                  margin: 0 auto;
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  border-radius: 9px;
                  background: #1B2330;
                  box-shadow: 5px 5px 8px 0px rgba(0, 0, 0, 0.25);
                  transform: translateY(201px);

                  h3 {
                      color: #FFF;
                      font-family: Raleway;
                      font-size: 32px;
                      font-weight: 700;
                      line-height: 48px;
                  }

                  p {
                      max-width: 673px;
                      padding-top: 16px;
                      color: #FFF;
                      text-align: center;
                      font-family: "Open Sans";
                      font-size: 14px;
                      font-style: normal;
                      font-weight: 400;
                      line-height: 21px;
                  }

                  .input_and_button {
                      padding-top: 38px;
                      display: flex;
                      column-gap: 29px;

                      input {
                          padding: 16px 208px 16px 38px;
                          border: none;
                          border-radius: 24px;
                          outline: none;

                      }

                      input::placeholder {
                          color: #C0C0C0;
                          font-family: "Open Sans";
                          font-size: 12px;
                          font-style: normal;
                          font-weight: 400;
                          line-height: normal;

                      }

                      button {
                          padding: 15px 26px;
                          border: none;
                          border-radius: 24px;
                          color: #FFF;
                          text-align: center;
                          font-family: Raleway;
                          font-size: 14px;
                          font-weight: 700;
                          background: #63E1D9;
                          filter: drop-shadow(2px 3px 6px rgba(7, 4, 59, 0.16));
                      }

                      button:active {
                          background-color: #8ADAE3;
                      }
                  }

              }
          }

          footer {
              width: 100%;
              background: #0B1524;


              .footer_div {
                  max-width: 1240px;
                  background: #0B1524;
                  margin: 0 auto;
                  padding: 169px 0px 153px 0px;


                  .footer_logo {
                      width: 100%;
                  }

                  .footer_info {
                      width: 100%;
                      height: 50px;
                      padding-top: 52px;
                      display: flex;
                      justify-content: space-between;

                      .info_locatsiya {
                          width: 379px;
                          display: flex;
                          column-gap: 16px;

                          img {
                              width: 24px;
                              height: 24px;
                              padding-top: 5px;
                          }

                          p {
                              color: #FFF;
                              font-family: 'Open Sans';
                              font-size: 16px;
                              font-weight: 400;
                              line-height: 24px;
                          }
                      }

                      .info_contact_number {
                          display: flex;
                          flex-direction: column;
                          row-gap: 16px;


                          .number_top {
                              display: flex;
                              column-gap: 22px;

                              p {
                                  color: #FFF;
                                  text-align: center;
                                  font-family: 'Open Sans';
                                  font-size: 14px;
                                  font-weight: 400;
                                  line-height: 21px;
                              }
                          }

                      }

                      .info_about {
                          ul {
                              display: flex;
                              color: #FFF;
                              font-family: 'Open Sans';
                              font-size: 16px;
                              font-style: normal;
                              font-weight: 400;
                              line-height: normal;
                              flex-direction: column;
                              row-gap: 16px;

                              li {
                                  padding: 6px 0;

                              }


                              li:hover {
                                  color: #FFF;
                                  font-family: 'Open Sans';
                                  font-size: 16px;
                                  font-weight: 700;
                              }
                          }
                      }

                      .info_contact_us {
                          ul {
                              display: flex;
                              color: #FFF;
                              font-family: 'Open Sans';
                              font-size: 16px;
                              font-weight: 400;
                              flex-direction: column;
                              row-gap: 16px;
                              height: 22px;

                              li {
                                  padding: 6px 0;

                              }


                              li:hover {
                                  color: #FFF;
                                  font-family: 'Open Sans';
                                  font-size: 16px;
                                  font-weight: 700;
                              }
                          }


                      }

                      .info_icon {
                          display: flex;
                          column-gap: 12px;

                          div {
                              width: 31px;
                              height: 31px;
                              border-radius: 50%;
                              border: 1px solid white;
                              display: flex;
                              justify-content: center;
                              align-items: center;
                          }

                          img {
                              width: 31px;
                              height: 31px;
                          }
                      }
                  }
              }
          }
      }
  }





  //   =============   media===========


  @media(max-width:1280px) {
      body {


          section {

              header {
                  padding: 24px 22px 0 22px;
              }

              footer {
                  .footer_div {
                      padding: 256px 39px;

                      .footer_info {
                          // flex-direction: column;
                      }
                  }
              }
          }
      }
  }

  @media(max-width:1210px) {
      body {


          section {

              .container {
                  flex-direction: column;
                  align-items: center;
                  padding-top: 160px;

                  .container_info {
                      padding-top: 48px;
                      width: 100%;
                  }
              }

              .commintary {
                  padding: 170px 48px 0px 48px;
                  justify-content: center;
                  gap: 24px;
              }

          }
      }
  }

  @media (max-width:1000px) {
      section {
          footer {
              padding-bottom: 412px;

              .footer_div {
                  .footer_info {
                      width: 100%;
                      flex-direction: column;
                      padding-top: 35px;


                      .info_locatsiya {
                          max-width: 300px;

                          p {
                              width: 100%;
                              color: #FFF;
                              font-family: Open Sans;
                              font-size: 16px;
                              font-style: normal;
                              font-weight: 400;
                              line-height: 24px;
                              /* 150% */
                          }
                      }

                      .info_contact_number {
                          padding-top: 16px;
                      }

                      .info_about {
                          padding-top: 59px;
                          row-gap: 16px;
                      }

                      .info_contact_us {
                          padding-top: 48.5px;
                      }

                      .info_icon {
                          padding-top: 156px;
                          margin: 0 auto;

                      }
                  }
              }
          }
      }

  }

  @media(max-width:780px) {
      body {
          section {
              .registratsiya_section {
                  .registratsiya {
                      .input_and_button {
                          flex-direction: column;
                          row-gap: 24px;
                      }
                  }
              }

              .wrapper {
                  .card {
                      svg {
                          width: 80px;
                          height: 80px;
                      }

                      h4 {
                          font-size: 18px;
                          line-height: 24px;
                          padding-top: 24px;
                      }

                      p {
                          font-size: 14px;
                          line-height: 21px;
                      }

                  }
              }

          }
      }
  }

  @media(max-width:750px) {
      body {
          section {
              .now {
                  width: 100%;

                  //   padding: 53px 36px;
                  h1 {
                      font-size: 24px;
                      line-height: 36px;
                      padding: 0 36px;
                      padding-top: 33px;


                  }

                  p {
                      font-size: 14px;
                      font-weight: 400;
                      line-height: 21px;
                      padding: 15px 36px 32px;


                  }

                  button {
                      font-size: 14px;
                      padding: 16px 81px;
                  }


                  .bacround_media {
                      display: block;
                  }

                  .bacround_media_one {
                      display: none;
                  }
              }

              .wrapper {
                  .card {
                      svg {
                          width: 80px;
                          height: 80px;
                      }

                      h4 {
                          font-size: 18px;
                          line-height: 24px;
                          padding-top: 24px;
                      }

                      p {
                          font-size: 14px;
                          line-height: 21px;
                      }

                  }
              }

          }
      }
  }

  @media (max-width:650px) {
      body {


          section {

              .container {
                  flex-direction: column;
                  align-items: center;
                  padding-top: 160px;


                  img {
                      width: 304px;
                      height: 230px;
                  }

                  .container_info {
                      h2 {
                          padding-left: 28px;
                          padding-right: 28px;
                          font-size: 18px;
                          line-height: 24px;


                      }

                      p {
                          padding-left: 28px;
                          padding-right: 28px;
                          font-size: 14px;
                          line-height: 21px;

                      }

                      .Securely {
                          font-size: 14px;
                          line-height: 21px;
                          padding-left: 28px;
                          padding-right: 28px;


                      }

                      .see_how {
                          margin-left: 28px;
                          width: 130px;

                          svg {
                              width: 12px;
                              height: 12px;
                          }

                          .see_p {
                              color: #62E0D9;
                              font-size: 12px;
                          }


                      }

                      // padding: 48px 28px 0 28px;

                  }
              }
          }
      }


  }

  @media(max-width:570px) {
      body {


          section {

              header {
                  padding: 24px 22px 0 22px;

                  .header_logo {

                      svg {
                          width: 80px;
                          height: 24px;

                      }
                  }

                  ul {
                      column-gap: 24px;

                      li {
                          font-size: 12px;
                      }

                      li:active {
                          font-size: 12px;
                          text-decoration-line: underline;
                      }
                  }


              }

              .commintary {
                  .commintary_card_one {
                      .backround_img {
                          display: none;

                      }

                      .backround_img2 {
                          position: absolute;
                          transform: translate(-27px, -147px);
                          z-index: -1;
                      }

                      .backround_img2 {
                          display: block;

                      }

                      p {
                          font-size: 10px;
                          line-height: 18px;

                      }

                      .commintary_user {
                          padding-top: 17px;
                      }
                  }

                  .commintary_card_two {
                      p {
                          font-size: 10px;
                          line-height: 18px;

                      }

                      .commintary_user {
                          padding-top: 17px;
                      }

                  }
              }

              .registratsiya_section {
                  .registratsiya {
                      padding-top: 40px;
                      transform: translateY(160px);

                      h3 {
                          font-size: 18px;
                          line-height: 24px;
                      }

                      p {
                          font-size: 14px;
                          line-height: 21px;

                      }

                      .input_and_button {
                          flex-direction: column;
                          row-gap: 24px;

                          button {
                              padding: 16px 73px;
                          }

                          input {
                              padding: 17px 100px 17px 30px;
                          }
                      }
                  }
              }

          }
      }
  }