  @import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;700&display=swap');

  body {
      background: #1B2330;


      section {
          header {
              margin: 0 auto;
              display: flex;
              justify-content: space-between;
              align-items: center;
              max-width: 1280px;
              padding-top: 73px;

              ul {
                  display: flex;
                  column-gap: 57px;

                  li {
                      color: #FFF;
                      font-size: 16px;
                      font-weight: 400;
                      color: #FFF;
                      font-family: Raleway;
                  }

                  li:active {
                      color: #FFF;
                      font-size: 16px;
                      font-weight: 700;
                      text-decoration-line: underline;
                  }
              }


          }

          .now {
              width: 1280px;
              margin: 0 auto;
              display: flex;
              padding-top: 75px;
              flex-direction: column;
              align-items: center;

              img {
                  width: 720px;
                  height: 534px;
              }

              h1 {
                  color: #FFF;
                  text-align: center;
                  font-size: 40px;
                  font-weight: 700;
                  line-height: 60px;
                  width: 734px;
                  padding-top: 36px;
                  font-family: Raleway;

              }

              p {
                  width: 589px;
                  color: #FFF;
                  text-align: center;
                  font-family: "Open Sans";
                  font-size: 20px;
                  font-style: normal;
                  font-weight: 400;
                  line-height: 30px;
                  padding-top: 32px;
                  padding-bottom: 32px;
              }

              button {
                  filter: drop-shadow(2px 3px 6px rgba(0, 0, 0, 0.16));
                  padding: 19px 95px;
                  border-radius: 50px;
                  border: none;
                  background: #34A0CD;
                  color: #FFF;
                  font-size: 16px;
                  font-weight: 700;
                  cursor: pointer;

              }

              button:active {
                  background-color: #8ADAE3;
              }
          }

          .wrapper {
              width: 1280px;
              // background-color: #26403e;
              margin: 0 auto;
              padding-top: 158px;
              display: flex;
              column-gap: 147px;
              justify-content: center;
              flex-wrap: wrap;

              .card {
                  width: 349px;
                  height: 214px;
                  flex-shrink: 0;
                  display: flex;
                  flex-direction: column;
                  align-items: center;

                  h4 {
                      color: #FFF;
                      text-align: center;
                      font-size: 20px;
                      font-weight: 700;
                      padding-top: 16px;
                      width: 263px;
                      font-family: Raleway;

                  }

                  p {
                      width: 349px;
                      color: #FFF;
                      text-align: center;
                      font-family: "Open Sans";
                      font-size: 14px;
                      font-weight: 400;
                      line-height: 21px;
                      padding-top: 8px;
                  }
              }

          }

          .container {
              width: 1280px;
              margin: 0 auto;
              //   background-color: yellow;
              padding-top: 137px;
              display: flex;
              column-gap: 57px;

              img {
                  width: 614.755px;
                  height: 463.633px;
              }

              .container_info {
                  padding-top: 114px;

                  h2 {
                      color: #FFF;
                      font-family: Raleway;
                      font-size: 40px;
                      font-weight: 700;
                      line-height: 50px;
                      width: 480px;
                  }

                  p {
                      color: #FFF;
                      font-family: "Open Sans";
                      font-size: 16px;
                      font-weight: 400;
                      line-height: 24px;
                      padding-top: 19px;
                      width: 563px;
                      padding-bottom: 16px;
                  }

                  b {
                      color: #FFF;
                      font-family: "Open Sans";
                      font-size: 16px;
                      font-weight: 400;
                      line-height: 24px;
                      width: 563px;

                  }

                  .see_how {
                      width: 168px;
                      padding-top: 24px;
                      display: flex;
                      align-items: center;
                      column-gap: 8px;
                      border-bottom: 1px solid #62E0D9;
                      padding-bottom: 5px;

                      b {
                          color: #62E0D9;
                          font-family: "Open Sans";
                          font-size: 16px;
                          font-weight: 400;
                      }
                  }
              }
          }
      }
  }